#navbar{
    display: flex;
    gap: 5%;
   
}
#gradtag{
    padding-right: 20%;
   margin-bottom: 20px;
}
#skilltag{
    display: inline-flex;
   

}
#hero{
    font-size: x-large;
}

#logbutton{
   height: 4%;
    border-color: #F24662;
    
}
#hometag{
    color: red;
}
#joinbutton{
    height: 10%;
    background-color: #ED2647;
    border-radius: 15Px;
}
#Homepage{
    display: flex;
    font-size: xx-large;
}
  #super{
    color: #ED2647;
    display: flex;
    font-weight: bolder;
    
  }
  #upgrade{
    color: #192F59;
    font-weight: bolder;
  }
  #skilbutton{
    font-size: x-large;
  }
#subscriptions{
    display: flex;
    gap: 3%;
    font-size: xx-large;
}
.icons{
    display:flex;
}
#imagem{
    object-fit: cover;
    width: 400px;
    
}
#explorebutton{
    background-color:#F24662 ;
    border-radius: 10px;
    height: 30px;
    margin-left: -20px;
}
#microsoft{
    display: flex;
    font-weight: 10px;
}
#udemy{
    display: flex;
}
    
#logos{
    display: flex;
    gap: 10%;
}
body{
   margin-left: 10%;
   margin-right: 10%;
}
@media screen and (max-width:475px) and (min-width:375px){
    #navbar{
        flex-wrap: wrap;
        gap: 5%;
    }
    .hamburger {
        color: #F24662;
        display: block;
        cursor: pointer;
    }
    
    .bar {
        display: block;
        width: 40px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #101010;
    }
     #logbutton{
        width: 15%;
        height: 8%;
       
    } 
    #Homepage{
        flex-wrap: wrap;
        padding-bottom: 10%;
        font-size: large;
    }
    #subscriptions{
       flex-wrap: wrap;
        gap: 3%;
        font-size: smaller;
    }
    #logos{
      flex-wrap: wrap;
        gap: 5%;
    }
    #imagem{
        object-fit: cover;
        width: 200px;
        margin-left: 5px;
    }
    #super{
        color: #ED2647;
        display: flex;
        font-size: smaller;
        
      }
      #skilbutton{
        font-size: smaller;
      }   
}
@media screen and (max-width:600px)and (min-width:475px){
    #navbar{
        flex-wrap: wrap;
        gap: 5%;
    }
    .bar {
        display: block;
        width: 40px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #101010;
    }
    #log{
        width: 15%;
        height: 8%;
       
    }
    #Homepage{
        flex-wrap: wrap;
        padding-bottom: 10%;
    }
     #subscriptions{
       flex-wrap: wrap;
        gap: 3%;
    } 
    #logos{
      flex-wrap: wrap;
        gap: 10%;
    }
    #imagem{
        object-fit: cover;
        width: 100px;
        margin-left: 5px;
    }
    #super{
        color: #ED2647;
        display: flex;
        font-size: smaller;
        
      }
      #skilbutton{
        font-size: smaller;
      }

}
@media screen and (max-width:740px)and (min-width:600px){
    #navbar{
        flex-wrap: wrap;
        gap: 5%;
    }
    
    .bar {
        display: block;
        width: 40px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #101010;
    }
#log{
    width: 15%;
    height: 8%;
   
}
#Homepage{
    flex-wrap: wrap;
    padding-bottom: 10%;
}
#subscriptions{
   flex-wrap: wrap;
   
} 
#logos{
  flex-wrap: wrap;
    gap: 5%;
}
#imagem{
    object-fit: cover;
    width: 200px;
    margin-left: 5px;
}
#super{
    color: #ED2647;
    display: flex;
    font-size: smaller;
    
  }
  #skilbutton{
    font-size: smaller;
  }
}

@media screen and (max-width:800px)and (min-width:740px){
    #navbar{
        flex-wrap: wrap;
        gap: 3px;
    }
    
    .bar {
        display: block;
        width: 40px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #101010;
    }
    #log{
        width: 15%;
            }
          
    #Homepage{
        flex-wrap: wrap;
        padding-bottom: 10%;
    }
    #subscriptions{
       flex-wrap: wrap;
       
    } 
    #logos{
      flex-wrap: wrap;
        gap: 10%;
    }
    #imagem{
        object-fit: cover;
        width: 200px;
        margin-left: 5px;
    }
    #super{
        color: #ED2647;
        display: flex;
        font-size: smaller;
        
      }
      #skilbutton{
        font-size: smaller;
      }


}

