#navbar{
    display: flex;
    gap: 5%;
    
   
}
ul{
    list-style-type: none;
    display: flex;
    gap: 5%;
}
#logo1{
    padding-right: 20%;
   margin-bottom: 20px;
   display: inline-flex;
   font-size: larger;
}
#topnavbar{
    padding-left: 20px;
    gap: 5%;

}
#image{
    width: 30px;
}
#skilllogo{
    color: #7785A0;
}
#herologo{
    color: #FF274B;
}
#img{
    width: 30px;
}
#hero{
    font-size: x-large;
}

#loginbutton{
    border-color: #F24662;
    border-radius: 15px;
    
}
#homebar{
    color: red;
}
#joinbutton{
    
    background-color: #ED2647;
    border-radius: 15Px;
}
#homepage{
    display: flex;
    padding-bottom: 5%;
    gap: 5%;
}
  #super{
    color: #ED2647;
    display: flex;
    font-weight: bolder;
    font-size: xx-large;
    
  }
  #namelevel{
    font-size: xx-large;
  }
  #upgrade{
    color: #192F59;
  }
  #skilbutton{
    height: 25px;
    border-radius:10px ;
  }
#subscriptions{
    display: flex;
    gap: 5%;
}
.checktick{
    display:inline-flex;
}
#landingpageimage{
    object-fit: cover;
    width: 400px;
    
}
#explorebutton{
    background-color:#F24662 ;
    border-radius: 10px;
    height: 25px;
    margin-left: -20px;
    margin-top: 8px;
    padding-bottom: 3%;
}
#microsoft{
    display: flex;
    font-weight: 10px;
}
#udemy{
    display: flex;
}
    
#footer{
    display: flex;
    gap: 10%;
}
body{
   margin-left: 5%;
   margin-right: 5%;
}
@media screen and (max-width:475px) and (min-width:375px){
    #navbar{
        flex-wrap: wrap;
        gap: 5%;
    }
    ul{
       flex-wrap: wrap; 
    }
     #loginbutton{
        width: 15%;
       
    } 
    #homepage{
        flex-wrap: wrap;
        padding-bottom: 10%;
        font-size: large;
    }
    #subscriptions{
       flex-wrap: wrap;
        gap: 3%;
        font-size: smaller;
    }
    #footer{
      flex-wrap: wrap;
        gap: 5%;
    }
    #landingpageimage{
        object-fit: cover;
        width: 200px;
        margin-left: 5px;
    }
    #super{
        color: #ED2647;
        display: flex;
        font-size: smaller;
        
      }
      #skilbutton{
        font-size: smaller;
      }   
}
@media screen and (max-width:600px)and (min-width:475px){
    #log{
        width: 15%;
        height: 8%;
       
    }
    ul{
        flex-wrap: wrap; 
     }
    #homepage{
        flex-wrap: wrap;
        padding-bottom: 10%;
    }
     #subscriptions{
       flex-wrap: wrap;
        gap: 3%;
    } 
    #footer{
      flex-wrap: wrap;
        gap: 10%;
    }
    #landingpageimage{
        object-fit: cover;
        width: 100px;
        margin-left: 5px;
    }
    #super{
        color: #ED2647;
        display: flex;
        font-size: smaller;
        
      }
      #skilbutton{
        font-size: smaller;
      }

}
@media screen and (max-width:740px)and (min-width:600px){
    #navbar{
        flex-wrap: wrap;
        gap: 5%;
    }
    ul{
        flex-wrap: wrap; 
     }
#log{
    width: 15%;
    height: 8%;
   
}
#homepage{
    flex-wrap: wrap;
    padding-bottom: 10%;
}
#subscriptions{
   flex-wrap: wrap;
   
} 
#footer{
  flex-wrap: wrap;
    gap: 5%;
}
#landingpageimage{
    object-fit: cover;
    width: 200px;
    margin-left: 5px;
}
#super{
    color: #ED2647;
    display: flex;
    font-size: smaller;
    
  }
  #skilbutton{
    font-size: smaller;
  }
}

@media screen and (max-width:800px)and (min-width:740px){
    #navbar{
        flex-wrap: wrap;
        gap: 3px;
    }
    ul{
        flex-wrap: wrap; 
     }
    #log{
        width: 15%;
            }
          
    #homepage{
        flex-wrap: wrap;
        padding-bottom: 10%;
    }
    #subscriptions{
       flex-wrap: wrap;
       
    } 
    #footer{
      flex-wrap: wrap;
        gap: 10%;
    }
    #landingpageimage{
        object-fit: cover;
        width: 200px;
        margin-left: 5px;
    }
    #super{
        color: #ED2647;
        display: flex;
        font-size: smaller;
        
      }
      #skilbutton{
        font-size: smaller;
      }


}
@media screen and (max-width:1024px){
    #navbar{
        flex-wrap: wrap;
        gap: 3px;
    }
    ul{
        flex-wrap: wrap; 
     }
    #log{
        width: 15%;
            }
          
    #homepage{
        flex-wrap: wrap;
        padding-bottom: 10%;
    }
    #subscriptions{
       flex-wrap: wrap;
       
    } 
    #footer{
      flex-wrap: wrap;
        gap: 10%;
    }
    #landingpageimage{
        object-fit: cover;
        width: 200px;
        margin-left: 5px;
    }
    #super{
        color: #ED2647;
        display: flex;
        font-size: smaller;
        
      }
      #skilbutton{
        font-size: smaller;
      }
      body{
        font-size: x-large;
      }


}


